.approval-write {
  height: 100%;
  /* height: calc(100vh - 100px); */
  margin: 80px 50px;

  display: flex;
}
.write-modal-contents-container {
  width: 100%;
  height: 100%;
  display: flex;

  flex-direction: column;
}
#write-modal-contents-box {
  border: none;
  outline: none;
  resize: none;
}
