@import url("https://webfontbox.github.io/Arita/font.css");
@import url("https://webfontbox.github.io/Arita/font.min.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

.galpi-setting-container {
  padding: 0 9.17vw;
  margin-top: 62px;
}

.galpi-menu {
  margin-bottom: 114px;
}

.list-button-container {
  border: 1px solid #5ca54b;
  border-radius: 8px;
  overflow: hidden;
  font-family: "Pretendard", sans-serif;
}

.list-button-parent {
  padding: 10px;
  border-bottom: 1px solid #5ca54b;
  cursor: pointer;
}

.list-button-child {
  padding: 10px;
  border-bottom: 1px solid #5ca54b;
  cursor: pointer;
}

.list-button-child:last-child {
  border-bottom: none;
}

.galpi-title {
  font-family: "Arita buri";
  font-weight: 700;
  font-size: 1.625em;

  margin-bottom: 100px;
}

.galpi-sub-title {
  font-family: "Arita buri";
  font-weight: 700;
  font-size: 1.125em;

  margin-bottom: 12px;
}

//갈피 제목
.galpi-title-input {
  width: 40vw;

  border: none;
  outline: none;
  background-color: #f4f4f4;
  padding: 12px 20px;

  border-radius: 8px;

  font-family: "pretendard";
  font-size: 0.875em;
  font-weight: 500;
}

//갈피 관리자
.galpi-manage-plus {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.galpi-plus {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5ca54b;
  color: #ffff;

  width: 1.25vw;
  height: 1.25vw;

  border-radius: 50px;

  font-family: "pretendard";
  font-size: 1.25em;
  font-weight: 300;

  margin-right: 10px;
  cursor: pointer;
}

.galpi-manage {
  font-family: "pretendard";
  font-size: 1em;
  font-weight: 500;
}

//공동 작업 여부, 동시 작업 여부
.radio {
  margin-right: 8px; //버튼 사이의 간격
}

.collaborate-radio-item,
.concurrentWork-radio-item {
  display: flex;
  align-items: center;
  margin-bottom: 12px;

  font-family: "pretendard";
  font-size: 0.875em;
  font-weight: 500;
}

#galpi-submit-btn-container {
  display: flex;
  justify-content: center;

  width: 100%;
  margin-bottom: 60px;
}

#galpi-submit-btn-gray {
  width: 200px;
  height: 45px;

  border-radius: 8px;
  border: none;
  background-color: #bfbfbf;
  color: white;
}

#galpi-submit-btn-green {
  width: 200px;
  height: 45px;

  border-radius: 8px;
  border: none;
  background-color: #5ca54b;
  color: white;
}
