#header {
  display: flex;
  flex-direction: column;
  
  width: 100%;
}

.header-headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 9.17vw;
  margin-top: 28px;
  margin-bottom: 30px;
}

.header-haederLogo {
  size: 4.7vw 42px;
}

.header-searchContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 22px 15px;
  margin-left: 100px;
  border: 1.5px solid black;
  border-radius: 50px;
  width: 38vw;
  height: 40px;
}


.header-headerRight {
  display: flex;
  align-items: center;
}

#goWrite {
  font-weight: bold;
  font-size: 1em;
  border: none;
  background-color: white;
  margin-right: 44px;

  cursor: pointer;
}

.header-guide {
  display: flex;
  margin-right: 20px;
  
}

.header-guide-img{
  margin-right: 5px;
}

#goGuide {
  font-size: 0.875em;
  border: none;
  background-color: white;
  

  cursor: pointer;
}

#goLogin {
  font-size: 0.875em;
  border: none;
  background-color: white;
  

  cursor: pointer;
}

.header-searchBox {
  border: none;
  outline: none;
  width: 70%;
}

.header-searchBox::placeholder{
  font-size: 1em;
}

#header img {
  cursor: pointer;
}

.header-categoryContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header-categoryContainer button {
  border: none;
  background-color: white;
}

.header-category {
  display: flex;
  justify-content: space-evenly;

  width: 100%;
}

#upper-category {
  padding: 15px 0;
  background-color: #5ca54b;
}

#upper-category button {
  background-color: #5ca54b;
  font-family: Arita-buri-SemiBold;
  font-size: 1rem;
  color: white;
}
