.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-width: 800px;
}

.main-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

.main-section {
  width: 100%;
  max-width: 90%;
}

.main-section-above {
  display: flex;
  justify-content: space-between;
  padding: 0 35px;
}

#best-book {
  max-width: 100%;
  background-image: linear-gradient(to bottom, #e5f0e2, white);
}

#best-above {
  padding-left: 85px;
}

.main-slide-container {
  height: 400px;
}
