@import url('https://webfontbox.github.io/Arita/font.css');
@import url('https://webfontbox.github.io/Arita/font.min.css');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 210px;
  min-width: 800px;
}

.main-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

.main-section {
  width: 100%;
  /* max-width: 90%; */
}

.main-section-above {
  font-family:'Arita buri';
  font-weight: 700;
  font-size: 1.375em;

  display: flex;
  justify-content: space-between;
  padding: 90px 9.17vw 28px 9.17vw;
}


.main-sub-section {
  width: 100%;
  padding: 0px 3.472vw;
}



.main-section-subtitle {
  font-family:'Arita buri';
  font-weight: 700;
  font-size: 1.375em;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 120px 4.16vw 20px 4.16vw;

}

.main-section-more {
  font-family: 'pretendard';
  font-size: 0.875em;
  font-weight: 400;

}

#best-book {
  max-width: 100%;
  background-image: linear-gradient(to bottom, #e5f0e2, white);
}

#best-above {
  /* padding-left: 85px; */
}

.main-slide-container {
  /* height: 400px; */
}
