.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 600px;
}

.slide-container {
  width: 100%;
  height: 300px;
}

.section {
  width: 100%;
}

.section-above {
  display: flex;
  justify-content: space-between;
}
