@import url("https://webfontbox.github.io/Arita/font.css");
@import url("https://webfontbox.github.io/Arita/font.min.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
.my-page {
  height: 100vh;
}

.my-page-container {
  display: flex;
  flex-direction: column;
}

.wall-paper-section {
  width: 100%;
  height: 362px;
  overflow: hidden;
  padding: 0 !important;
  margin-bottom: 76px;
  position: relative;
}

.wall-pape-cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.overlay-content {
  position: absolute;
  top: 35%;
  left: 9%;
  z-index: 10;
  color: var(--black);
}

.my-page-title {
  font-family: "Arita buri";
  font-weight: 700;
  font-size: 1.375em;
}

.my-page-profile-section {
  z-index: 10;
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin-top: 60px;
}

.my-page-profile-cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

.my-page-profile-details {
  width: 100%;
  display: flex;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
  padding: 0 9.17vw;
}

.my-page-name {
  font-family: "pretendard";
  font-size: 1.25em;
  font-weight: 600;
  margin-bottom: 16px;
}

.my-page-oneliner {
  font-family: "pretendard";
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 45px;
}

.my-page-email-title {
  font-family: "pretendard";
  font-size: 0.875em;
  font-weight: 500;
  color: #BFBFBF;
  margin-bottom: 7px;
}

.my-page-email {
  font-family: "pretendard";
  font-size: 0.875em;
  font-weight: 500;
}

.subscribed-button {
  font-family: "pretendard";
  font-size: 1.125em;
  font-weight: 600;
}

.my-page-profile-details-edit {
  width: 36vw;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;
}

.my-page-profile-details-exp {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.my-page-profile-edit {
  border: none;
  outline: none;
  background-color: white;
  cursor: pointer;
}

.my-page-profile-details-count {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32vw;
  height: 162px;
  padding: 35px;
  border-radius: 8px;
  background-color: var(--primarycolor-4);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.book-count-title {
  font-family: "pretendard";
  font-size: 0.875em;
  font-weight: 500;
  margin-bottom: 22px;
}

.book-count-set {
  width: 70px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.book-num {
  font-family: "Arita buri";
  font-weight: 700;
  font-size: 2.55em;
  color: #5CA54B;
  margin-right: 10px;
}

.books-progress,
.books-completed,
.books-favorite {
  width: 100%;
  margin-bottom: 100px;
  padding: 0 9.17vw;
}

.my-book-lists-title {
  font-family: "Arita buri";
  font-weight: 700;
  font-size: 1.375em;
  margin-bottom: 20px;
}

.my-book-lists {
  width: 100%;
}/*# sourceMappingURL=mypage.css.map */