@charset "UTF-8";
@import url("https://webfontbox.github.io/Arita/font.css");
@import url("https://webfontbox.github.io/Arita/font.min.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
.my-page-edit {
  height: 100vh;
}

.my-page-edit-container {
  display: flex;
  flex-direction: column;
}

.edit-wall-paper-section {
  width: 100%;
  height: 362px;
  overflow: hidden;
  padding: 0 !important;
  margin-bottom: 76px;
  position: relative;
  background-size: cover; /* 배경화면의 크기 조정 */
}

.edit-overlay-content {
  position: absolute;
  top: 325px;
  left: 9%;
  z-index: 10;
  color: var(--black);
}

.edit-profile-title {
  font-family: "Arita buri";
  font-weight: 700;
  font-size: 1.375em;
}

.edit-profile-section {
  z-index: 10;
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin-top: 60px;
}

.edit-prorile-cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

.edit-profile-details {
  width: 100%;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
  padding: 0 9.17vw;
}

.edit-profile-details-exp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35.412vw;
}

.edit-profile-name {
  font-family: "pretendard";
  font-size: 1.25em;
  font-weight: 600;
  border: none;
  outline: none;
  background-color: #F4F4F4;
  padding: 5px;
  margin-bottom: 8px;
}

.edit-profile-onliner {
  font-family: "pretendard";
  font-size: 1em;
  font-weight: 600;
  border: none;
  outline: none;
  background-color: #F4F4F4;
  padding: 5px;
  margin-bottom: 40px;
}

.edit-profile-email-title {
  font-family: "pretendard";
  font-size: 0.875em;
  font-weight: 500;
  margin-bottom: 7px;
}

.edit-profile-email {
  font-family: "pretendard";
  font-size: 0.875em;
  font-weight: 500;
  border: none;
  outline: none;
  background-color: #F4F4F4;
  padding: 5px;
}

.profile-details-save {
  width: 36vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;
}

.profile-save {
  margin-left: 20px;
  border: none;
  outline: none;
  background-color: white;
  cursor: pointer;
}

.edit-profile-details-count {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32vw;
  height: 162px;
  padding: 35px;
  border-radius: 8px;
  background-color: var(--primarycolor-4);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.edit-book-count-title {
  font-family: "pretendard";
  font-size: 0.875em;
  font-weight: 500;
  margin-bottom: 22px;
}

.edit-book-count-set {
  width: 70px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.edit-book-num {
  font-family: "Arita buri";
  font-weight: 700;
  font-size: 2.55em;
  color: #5CA54B;
  margin-right: 10px;
}

.edit-books-progress,
.edit-books-completed,
.edit-books-favorite {
  width: 100%;
  margin-bottom: 100px;
  padding: 0 9.17vw;
}

.edit-my-book-lists-title {
  font-family: "Arita buri";
  font-weight: 700;
  font-size: 1.375em;
  margin-bottom: 20px;
}/*# sourceMappingURL=mypageedit.css.map */