@import '../styles/setting/mixin';

.my-page-edit {
    height: 100vh;
    //padding: 0 9.17vw;
}

.my-page-edit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-wall-paper-section {
    width: 100%;
    padding: 0 !important;  // 패딩을 확실하게 제거하기 위해 !important 사용
    margin-bottom: 100px;
    position: relative;
}

.edit-overlay-content {
    position: absolute;
    top: 70%;
    text-align: center;
    z-index: 10;
    color: var(--black); // 텍스트 색상을 배경과 대비되게 설정
    padding: 0 9.17vw;
}

.edit-profile-section {
    top: 10px; // 필요한 위치에 맞게 조정
    width: 100px;
    height: 100px;
    z-index: 10;
    position: relative;
    margin-top: 20px; // 여백 추가
}

.edit-profile-details {
    width: 100%;
    display: flex;
    flex-direction: row;
    @include flex-between; 
    margin-bottom: 20px;
    padding: 0 9.17vw;
}

.edit-profile-details-exp {
    flex: 1;
    text-align: left;
}

.edit-profile-details-exp div {
    margin-bottom: 10px;
}

.profile-details-save {
    width: 40vw;
    display: flex;
    flex-direction: row;
    @include flex-between;
}

.profile-save {
    border: none;
    outline: none;
    background-color: white;
    cursor: pointer;
}

.edit-profile-details-count {
    display: flex;
    width: 33vw;
    padding: 28px 36px;
    border-radius: 8px;
    background-color: var(--primarycolor-4);
    @include flex-between; 
}

.edit-profile-details-count div {
    text-align: center;
}

.edit-books-progress,
.edit-books-completed,
.edit-books-favorite {
    width: 100%;
    margin-bottom: 100px;
    padding: 0 9.17vw;
}

.edit-my-book-lists {
    width: 100%;
}

.edit-books-progress div,
.edit-books-completed div,
.edit-books-favorite div {
    margin-bottom: 10px;
}
